In [ ]:
# The name of this variable is not valid
3_not_possible = 6
#> SyntaxError: invalid decimal literal

# These two variables are distinct,
# due to the different capitalization (uppercase/lowercase)
variable_1 = 1
vAriable_1 = 2

print(variable_1)
# > 1
print(vAriable_1)
# > 2

# The name of this function is also not valid
def 3_not_possible_function():
    return 3